<h3><%= Comment.model_name.human %></h3>
<% if commentable.comments.present? %>
  <% commentable.comments.each do |comment| %>
    <% if comment.user.name.empty?%>
      <li><strong><%= Comment.human_attribute_name(:user) %>：</strong><%= comment.user.email %></li>
    <% else %>
      <li><strong><%= Comment.human_attribute_name(:user) %>：</strong><%= comment.user.name %></li>
    <% end %>
  <pre><strong><%= Comment.human_attribute_name(:comment) %>：</strong><%= comment.body %></pre>
  <pre><strong><%= Comment.human_attribute_name(:time) %>：</strong><%= l comment.created_at, format: :short %></pre>
    <% if current_user == comment.user %>
      <p><%= link_to t('views.common.destroy'),  [commentable, comment], method: :delete %></p>
    <% end%>
  <% end %>
<% else %>
   <p><%= t('comments.comment.notice') %></p>
<% end %>
