<h1><%= t('views.common.user_page', name: User.model_name.human) %></h1>

<p><%= User.human_attribute_name(:name) %>:<%= @user.name %></p>
<p><%= User.human_attribute_name(:email)%>:<%= @user.email %></p>
<p><%= User.human_attribute_name(:postal_code)%>:<%= @user.postal_code %></p>
<p><%= User.human_attribute_name(:address)%>:<%= @user.address %></p>
<p><%= User.human_attribute_name(:introduction)%>:<%= @user.introduction %></p>

<p><%= link_to t('views.common.users'), users_index_path, method: :get  %></p>
<p><%= link_to t('views.common.books'), books_path, method: :get  %></p>
