<h1><%= t('views.common.title_show', name: User.model_name.human) %></h1>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
  <%= @user.self_introduction %>
</p>

<p>
  <strong><%= User.human_attribute_name(:avatar) %>:</strong>
  <% if @user.avatar.attached? %>
  <br>
  <%= image_tag @user.avatar.variant(resize_to_fill: [150, 150])%>
  <% end %>
</p>

<p>
  <% unless @user == current_user %>
    <% if current_user.following?(@user) %>
      <%= button_to t('users.show.unfollow'), relationship_path, method: :delete %>
    <% else %>
      <%= form_for(@user.active_relationships.build) do |f| %>
        <%= hidden_field_tag :follower_id, @user.id %>
        <%= button_to t('users.show.following'), relationships_path(follower: @user), mesthod: :post %>
      <% end %>
    <% end %>
  <% end %>
</p>

<p>
 <strong><%= t('users.show.followings') %></strong>
 <%= link_to "#{@user.active_relationships.count}", followings_user_path %>
 <strong><%= t('users.show.followers') %></strong>
 <%= link_to "#{@user.passive_relationships.count}", followers_user_path %>
</p>

<% if current_user == @user %>
  <%= link_to t('views.common.edit'), edit_user_registration_path %> |
<% end %>
<%= link_to t('views.common.back'), users_path %>
